body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.button-main {
  display: flex;
  justify-content: end;
}

.create-news {
  border: none;
  background: #d9d9d9;
  border-radius: 24px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 28px;
}

.create-news:hover {
  background: #acacace1;
  transition: all 0.5s;
}

.create-news-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
  margin: 18px 24px 18px 0;
}

.table-main {
  width: 100%;
  min-width: 720px;
  border: none;
  border-collapse: collapse;
}

.table-row-title {
  border: 1px solid #252525;
  background-color: #bed0d4;
}

.table-row-data {
  border: 1px solid #252525;
  background-color: #d9d9d9;
}

.full-text-data {
  background-color: #ffff;
  border-radius: 8px;
  text-align: left;
  padding: 2px 4px;
}

.border-right {
  border-right: 1px solid black;
  padding-right: 16px;
}

.table-heading-text {
  padding-top: 26px;
  padding-bottom: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 118.69%;
  /* or 28px */

  letter-spacing: -0.05em;

  color: #000000;
  text-align: center;
}

// .table-row-title:nth-child(1) {
//   padding-left: 30px;
// }

// .table-row-title:nth-last-child(1) {
//   padding-right: 30px;
// }

.table-data-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
  text-align: center;
}

.table-data-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.edit-icon {
  height: 50px;
  width: 52px;
  display: block;
  padding: 5px;
  margin-right: 5px;
}

.edit-icon:hover {
  transition: all 0.3s;
  background-color: #c4c4c4e1;
  border-radius: 16px;
  cursor: pointer;
}

.delete-icon {
  display: block;
  padding: 8px;
  margin-right: 5px;
}

.delete-icon:hover {
  transition: all 0.3s;
  background-color: #965e5ee1;
  border-radius: 16px;
  cursor: pointer;
}
