// footer //

.footer {
  max-height: 180px;
  height: 180px;
  background: linear-gradient(90deg, #bed0d4 50%, #c5d7d4 64.38%);
}

.logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  color: #000000;
  margin: 0;
}

.txt--under_logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  text-decoration-line: underline;
  color: #000000;
}

.logo--info {
  max-width: 207px;
  text-align: center;
  justify-content: center;
}

.footer_list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.footer-content {
  max-width: 1290px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 30px 0 0;
}

.footer--txt--info {
  margin-right: 96px;
}

.footer--txt--link:hover {
  color: rgb(72, 72, 72);
  transition: all 0.3s;
}

.footer--txt--link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.footer--txt--info:last-child {
  margin-right: 0px;
}

.ftr_co_inf {
  text-decoration: none;
  max-width: 50px;
  max-height: 50px;
  margin-right: 40px;
}

.ftr_co_inf:last-child {
  margin-right: 0px;
}

.footer_co_list {
  text-decoration: none;
  display: flex;
}
