@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0px;
    display: block;
}
.navbar{
    width: 100%;
    height: 75px;
    display: flex;
    background: linear-gradient(90deg, #BED0D4 51.1%, #C5D7D4 63.46%);
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding:0 10px;
}
.nav_logo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: -0.1em;
    color: #000000;
    margin: 0;
    flex-shrink: 0;
}
.logo_first_letter{
    color: #46A3FF;
}
.logo_second_letter{
    color: #FFF9A5;
}

.navbar_text{
    list-style: none;
    display: flex;
    gap: 17px;
}
.nav_h2Text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.75);
}
.search_navbar{
    margin-left: auto;
    position: relative;
}

.search_input{
    border-radius: 19px;
    border: none;
    padding: 7px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
}
.search_input::placeholder,.search_input::-moz-placeholder,.search_input::-webkit-input-placeholder{
    color: #000000;
}
.search_button{
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    position: absolute;
    background: none;
    border: none;
}
.navBar_menu{
    display: flex;
    align-items: center;
    width: 100%;
}
@media (max-width: 720px) {
}

