// body {
//   background-color: beige;
// }

li {
  list-style: none;
}

.card__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card__item {
  background-color: white;
  width: min(100%, 370px);
  transition: 300ms;

  * {
    padding: 0;
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 2px #00000040;
  }
}
.card__content {
  padding: 10px;
}

.card__image {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
}

.card__item:hover .card__title {
  text-decoration: underline;
}

.card__title {
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
}

.card__date {
  color: #86847E;
  font-size: 15px;
  margin-bottom: 10px;
}

.card__description {
  margin-bottom: 20px;
  font-size: 16px;
  color: #4E4E4E;
}

.card__container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #86847E;
}
