<div class="aboutCard">
    <img class="aboutImg" src="{{src}}" alt="{{alt}}">
    <div class="aboutText">
    <h2 class="aboutName">{{name}}</h2>
    <h3 class="aboutDescription">{{{descript}}}</h3>
    </div>
</div>