<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v16.0"
  nonce="RW41zUBl"
></script>
<div class="card-frame">
  <div class="share">
    <span class="share-text">Share it:</span>
    <div class="fb-share-button" data-href="" data-layout="" data-size=""></div>
    <img src="/assets/twitter.svg" alt="twitter icon" class="icon" />
    <img src="/assets/link.svg" alt="facebook icon" class="icon" />
    <img src="/assets/mail.svg" alt="twitter icon" class="icon" />
  </div>
  <article class="card">

    <a href="#" class="donate-button-link">Donate now!</a>
    <span class="card-label">Donate to worlds' defenders</span>
    <img src="/assets/donate ad.png" alt="" class="img-flex" />
  </article>
</div>