<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v16.0"
  nonce="RW41zUBl"
></script>
<div class="card-frame">
  <div class="share">
    <span class="share-text">Share it:</span>
    <div class="icon fb-share-button" data-href="" data-layout="" data-size="">
    </div>
    <img src="/assets/link.svg" alt="link" class="icon link-icon" />
    <a
      href="mailto:test@example.com?subject=Переглянте нашу новину&body=<a href='ppolina0404@gmail.com'></a>"
    >
      <img src="/assets/mail.svg" alt="mail" class="icon" />
    </a>

  </div>
  <article class="card">

    <a href="#" class="donate-button-link">Donate now!</a>
    <span class="card-label">Donate to worlds' defenders</span>
    <img src="/assets/donate ad.png" alt="" class="img-flex" />
  </article>
</div>