<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advertisement</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="ad.scss" />
  </head>
  <body>
    <div class="card-frame">
      <div class="share">
        <span class="share-text">Share it:</span>
        <img src="/assets/facebook.svg" alt="facebook icon" class="icon" />
        <img src="/assets/twitter.svg" alt="twitter icon" class="icon" />
        <img src="/assets/link.svg" alt="facebook icon" class="icon" />
        <img src="/assets/mail.svg" alt="twitter icon" class="icon" />
      </div>
      <article class="card">

        <button class="donate-button">Donate now!</button>
        <span class="card-label">Donate to worlds' defenders</span>
        <img src="/assets/donate ad.png" alt="" class="img-flex" />
      </article>
    </div>
  </body>
</html>