<div class='modal' id='editModal'>
  <div class='modal__body'>
    <button class='modal__close-btn' type='button' id='closeModalBtn'>
      <img src='../assets/images/cross.svg' alt='cross' />
    </button>
    <h2 class='modal__title'>Сhange information</h2>

    <form class='modal__content form-modal'>

      <div class='form-modal__elements'>
        <h3 class='form-modal__title'>Title</h3>
        <input
          type='text'
          class='form-modal__input'
          autocomplete='off'
          placeholder='Change title'
        />
      </div>

      <div class='form-modal__elements'>
        <h3 class='form-modal__title'>Full text</h3>
        <textarea
          class='form-modal__input form-modal__input_textarea'
          autocomplete='off'
          placeholder='Change text'
        ></textarea>
      </div>

      <div class='form-modal__elements'>
        <h3 class='form-modal__title'>Image</h3>
        <img
          src='https://www.esafety.gov.au/sites/default/files/2019-08/Remove%20images%20and%20video.jpg'
          alt='testAlt'
        />
        <input type='text' class='form-modal__input' autocomplete='off' placeholder='Change url' />
      </div>

      <button type='submit' class='form-modal__submit-btn'>Change</button>
    </form>
  </div>
</div>