    <footer class="footer">
      <div class="footer-content">
        <div class="logo--info">
          <p class="logo">
            <a href="#">
            <img src="assets/news-logo.svg" alt="news ua logo">
            </a>
          </p>
          <div class="txt--under_logo">© NewsUA • 2023 | GitHub</div>
        </div>
        <div class="footer--info">
          <ul class="footer_list">
            <li class="footer--txt--info">
              <a class="footer--txt--link" href="#">Contact&nbsp;Us</a></li>
            <li class="footer--txt--info"> 
              <a class="footer--txt--link" href="#">About&nbsp;Us</a></li>
            </li>
            <li class="footer--txt--info">
              <a class="footer--txt--link" href="#">Donate</a></li>
            </li>
          </ul>
        </div>
        <div class="footer_contact">
          <ul class="footer_co_list">
            <li class="ftr_co_inf">
              <a href="https://github.com/4193883-eng/newsua">
              <img src="assets/git-icon.svg" alt="GitHub logo">
              </a>
            </li>
            <li class="ftr_co_inf">
              <a href="#">
              <img src="/assets/link-icon.svg" alt="link icon">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>