<nav class="nav">
    <div class="main">
        <div class="navbar">
            <h1 class="nav_logo">
                News <span class="logo_first_letter">U</span> <span class="logo_second_letter">A</span>
            </h1>
            <img src="" alt="">
            <div class="navBar_menu">
                <ul class="navbar_text">
                    <li class="nav_h2Text">Contact us</li>
                    <li class="nav_h2Text">About Us</li>
                    <li class="nav_h2Text">Donate</li>
                </ul>
                <form class="search_navbar">
                    <input type="text" name="text" class="search_input" placeholder="Search">
                    <button class="search_button"><img src="/assets/Search.svg" alt="Search"></button>
                </form>
            </div>


        </div>
    </div>
</nav>