<nav class="nav">
    <div class="main">
        <div class="navbar">
            <h1 class="navbar_logo">
                News <span class="navbar_logo_first_letter">U</span> <span class="navbar_logo_second_letter">A</span>
            </h1>
            <img src="/assets/bars.svg" alt="bars" class="navbar_hamburger">
            <div class="navbar_menu">
                <ul class="navbar_text">
                    <li class="navbar_h2Text navbar_phone "> <img src="/assets/phone-volume.svg" alt="phone"> Contact us</li>
                    <li class="navbar_h2Text navbar_person"> <img src="/assets/person.svg" alt=""> About Us</li>
                    <li class="navbar_h2Text navbar_donate"> <img src="/assets/money-bills.svg" alt="money"> Donate</li>
                </ul>
            </div>
        </div>
    </div>
</nav>