<div class="card">
  <img src="../assets/soldier.jpg" alt="солдат" class="card__image">
  <div class="card__content">
    <h2 class="card__title">Title: Інопланетяни викрали корову Ромашку</h2>
    <p class="card__description">Свідок Андрій бачив усе на власні очі! Його коментар: “Я сі був йшов, виджу, як ”</p>
    <div class="card__container">
      <p class="card__views">420 views</p>
      <p class="card__author">Якийсь автор</p>
    </div>
  </div >
</div>