<div class="slider">
    {{>slide views = 123 id = 1 storyName = 'Test' tags = 'hello' timeago = '3 hours'}}
    {{>slide views = 123 id = 1 storyName = 'Test' tags = 'hello' timeago = '3 hours'}}
    {{>slide views = 123 id = 1 storyName = 'Test' tags = 'hello' timeago = '3 hours'}}
    {{>slide views = 123 id = 1 storyName = 'Test' tags = 'hello' timeago = '3 hours'}}
</div>