<div class="glider-contain">
    <div class="glider">
    </div>
    <button aria-label="Previous" class="glider-prev"><img src="/assets/arrow.svg" alt=""></button>
    <button aria-label="Next" class="glider-next"><img src="/assets/arrow.svg" alt=""></button>
    <div role="tablist" class="dots glider-dots"></div>
</div>