<!doctype html>
<html lang="en">
<head>
    {{>partials/meta}}
</head>
<body>
{{>partials/navbar-no-search}}
<div class="pageWrapper">
    <h1>Meet our team of NewsUA</h1>
    <div class="aboutContainer">
        {{>partials/aboutCard
                src="../assets/aboutPage/VsevolodLavrusha.png"
                alt="" name="Vsevolod Lavrusha" descript="Index Page Design <br>
                                                      Team Lead <br>
                                                      Index Page Markup"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/DanyloSkrypets.jpeg"
                alt="" name="Danylo Skrypets" descript="Navbar markup <br>
                                                        Index Page Markup"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/DanyloHromyak.jpeg"
                alt="" name="Danylo Hromyak" descript="Search <br>
                                                        News card"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/ArtemTrembovetskyi.jpeg"
                alt="" name="Artem Trembovetskyi" descript="News card and page"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/PolinaPolkovnychenko.jpeg"
                alt="" name="Polina Polkovnychenko" descript="Logo design <br>
                                                              Footer <br>
                                                              Ad"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/RostyslavMushynskyi.jpeg"
                alt="" name="Rostyslav Mushynskyi" descript="Admin page"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/VladMezhevyi.jpeg"
                alt="" name="Vlad Mezhevyi" descript="Modals for admin page"}}
    </div>
</div>


</body>
</html>