<!doctype html>
<html lang="en">
<head>
    {{>partials/meta}}
</head>
<body>
{{>partials/navbar-no-search}}
<div class="pageWrapper">
    <h1>Meet our team of NewsUA</h1>
    <div class="aboutContainer">
        {{>partials/aboutCard
                src="../assets/aboutPage/VsevolodLavrusha.png"
                alt="" name="Vsevolod Lavrusha" descript="Index Page Design <br>
                                                      Team Lead <br>
                                                      Index Page Markup"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/DanyloSkrypets.jpeg"
                alt="" name="Danylo Skrypets" descript="Navbar markup <br>
                                                    Index Page Markup"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/ArtemTremboveckyii.jpeg"
                alt="" name="Artem Tremboveckyii" descript="News card and page"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/PolinaPolkovnychenko.jpeg"
                alt="" name="Polina Polkovnychenko" descript="Logo design"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/RostyslavMushynskyii.jpeg"
                alt="" name="Rostyslav Mushynskyii" descript="Admin page"}}
        {{>partials/aboutCard
                src="../assets/aboutPage/VladMezhevyii.jpeg"
                alt="" name="Vlad Mezhevyii" descript="Modals for admin page"}}
    </div>
</div>


</body>
</html>