<html lang="en">
  <head>
    {{>partials/meta title="News Admin"}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Admin Page</title>
  </head>
  <body>
    {{>partials/navbar-no-search}}
    <div class="wrapper">
      <div class="container">
        <div class="button-main">
          <button id="addbtn" data-id="{{id}}" class="create-news">
            <p class="create-news-text">
              Створити новину
            </p>
            <img src="./assets/create-icon.svg" alt="create-icon" />
          </button>
        </div>
        <table class="table-main">

          <thead id="thead" class="thead">
          <tr class="table-row-title">
            <th class="table-heading-text"><p class="border-right">ID</p></th>
            <th class="table-heading-text">Title</th>
            <th class="table-heading-text">Photo</th>
            <th class="table-heading-text">Views</th>
            <th class="table-heading-text">Full Text</th>
            <th class="table-heading-text">Author</th>
            <th class="table-heading-text">Options</th>
          </tr>
          </thead>
          <tbody id="tbody" class="tbody">
            
          </tbody>          
        </table>
      </div>
    </div>
    {{>partials/edit_modal}}
    {{>partials/add_modal}}

    <div class="error-message"></div>

    <span class="loader"></span>
  </body>
</html>