<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Admin Page</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="button-main">
          <button class="create-news">
            <p class="create-news-text">
              Створити новину
            </p>
            <img src="./assets/create-icon.svg" alt="create-icon" />
          </button>
        </div>
        <table class="table-main">
          <tr class="table-row-title">
            <th class="table-heading-text"><p class="border-right">ID</p></th>
            <th class="table-heading-text">Title</th>
            <th class="table-heading-text">Photo</th>
            <th class="table-heading-text">Views</th>
            <th class="table-heading-text">Full Text</th>
            <th class="table-heading-text">Author</th>
            <th class="table-heading-text">Options</th>
          </tr>
          <tr class="table-row-data">
            <td class="table-data-text"><p class="border-right">1</p></td>
            <td class="table-data-text">Інопланетяни...</td>
            <td class="table-data-text">test_0.png</td>
            <td class="table-data-text">1234</td>
            <td class="table-data-text"><p class="full-text-data">Тестовий
                повний текст</p></td>
            <td class="table-data-text">Author</td>
            <td class="table-data-text table-data-flex">
              <img
                style="text-align: center;"
                src="./assets/edit-icon.svg"
                class="edit-icon"
                alt="edit-icon"
              />
              <img
                style="text-align: center;"
                src="./assets/delete-icon.svg"
                alt="delete-icon"
                class="delete-icon"
              />
            </td>
          </tr>
          <tr class="table-row-data">
            <td class="table-data-text"><p class="border-right">1</p></td>
            <td class="table-data-text">Інопланетяни...</td>
            <td class="table-data-text">test_0.png</td>
            <td class="table-data-text">1234</td>
            <td class="table-data-text"><p class="full-text-data">Тестовий
                повний текст</p></td>
            <td class="table-data-text">Author</td>
            <td class="table-data-text table-data-flex">
              <img
                style="text-align: center;"
                src="./assets/edit-icon.svg"
                class="edit-icon"
                alt="edit-icon"
              />
              <img
                style="text-align: center;"
                src="./assets/delete-icon.svg"
                alt="delete-icon"
                class="delete-icon"
              />
            </td>
          </tr>
          <tr class="table-row-data">
            <td class="table-data-text"><p class="border-right">1</p></td>
            <td class="table-data-text">Інопланетяни...</td>
            <td class="table-data-text">test_0.png</td>
            <td class="table-data-text">1234</td>
            <td class="table-data-text"><p class="full-text-data">Тестовий
                повний текст</p></td>
            <td class="table-data-text">Author</td>
            <td class="table-data-text table-data-flex">
              <img
                style="text-align: center;"
                src="./assets/edit-icon.svg"
                class="edit-icon"
                alt="edit-icon"
              />
              <img
                style="text-align: center;"
                src="./assets/delete-icon.svg"
                alt="delete-icon"
                class="delete-icon"
              />
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script src="admin.js"></script>
  </body>
</html>