<!DOCTYPE html>
<html lang="uk">
  <head>
      {{>partials/meta title="Webpack Template"}}
  </head>
  <body>
    {{>partials/navbar}}

    {{>partials/slider}}

    {{>partials/newscardlist}}


  </body>
</html>
