<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>newspage</title>
  </head>
  <body>
        {{> partials/navbar }}
    <main class="main">
      <section class="prev">
        <div class="prev_content">
          <h2 class="prev_title">Інопланетяни викрали корову Ромашку</h2>
          <div class="prev_info">
            <ul class="prev_list">
              <li class="list_text">Ilona Muskovych</li>
              <li class="list_text">6 hours ago</li>
              <li class="list_text">UFO</li>
              <li class="list_text">Animals</li>
            </ul>
            <div class="views">420 views</div>
          </div>
        </div>
      </section>
      <section class="info">
        <div class="list--info">
          <p class="text--info">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eos optio impedit provident velit illo ratione,
            tempore assumenda perferendis sequi autem sint voluptatum, saepe
            officia! Quidem minima sed eligendi aliquam nemo. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Possimus officiis temporibus
            ipsa ad reprehenderit. Sed porro unde, repellat tempore in omnis
            placeat quibusdam expedita maiores necessitatibus ratione,
            accusantium quaerat odio. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eos optio impedit provident velit illo ratione,
            tempore assumenda perferendis sequi autem sint voluptatum, saepe
            officia! Quidem minima sed eligendi aliquam nemo. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Possimus officiis temporibus
            ipsa ad reprehenderit. Sed porro unde, repellat tempore in omnis
            placeat quibusdam expedita maiores necessitatibus ratione,
            accusantium quaerat odio. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eos optio impedit provident velit illo ratione,
            tempore assumenda perferendis sequi autem sint voluptatum, saepe
            officia! Quidem minima sed eligendi aliquam nemo. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Possimus officiis temporibus
            ipsa ad reprehenderit. Sed porro unde, repellat tempore in omnis
            placeat quibusdam expedita maiores necessitatibus ratione,
            accusantium quaerat odio. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eos optio impedit provident velit illo ratione,
            tempore assumenda perferendis sequi autem sint voluptatum, saepe
            officia! Quidem minima sed eligendi aliquam nemo. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Possimus officiis temporibus
            ipsa ad reprehenderit. Sed porro unde, repellat tempore in omnis
            placeat quibusdam expedita maiores necessitatibus ratione,
            accusantium quaerat odio.
          </p>
        </div>
        <div class="advert">{{> partials/ad }}</div>
      </section>
    </main>
    {{> partials/footer }}
    <script src="/src/newspage.js"></script>
  </body>
</html>