<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>newspage</title>
  </head>
  <body>
        {{> partials/navbar-no-search }}
    <main class="main">
      <section class="prev">
        <div class="prev_content">
          <h2 class="prev_title"></h2>
          <div class="prev_info">
            <ul class="prev_list">
              <li class="list_text" id="author"></li>
              <li class="list_text"></li>
              <li class="list_text"></li>
              <li class="list_text"></li>
            </ul>
            <div class="views"></div>
          </div>
        </div>
      </section>
      <p class="error"></p>
      <section class="info">
        <div class="list--info">
          <p class="text--info">
          </p>
        </div>
        <div class="advert">{{> partials/ad }}</div>
      </section>
    </main>
    {{> partials/footer }}
    <script src="/src/newspage.js"></script>
  </body>
</html>